.Clear {
  padding-top: 2rem;
  align-items: center;
  text-align: center;
  white-space: nowrap;

  img {
    user-select: none;
  }

  h2, h3 {
    margin-top: 1rem;
    &::first-letter {
      color: #55FF55;
    }
  }

  a {
    color: #55FF55
  }

  .header {
    img {
      width: clamp(350px, 50%, 500px);
    }
  }

  .text {
    opacity: 0;
    animation: fadein 1.5s forwards linear;

    img {
      width: clamp(400px, 80%, 700px);
    }

    .gratz {
      font-weight: normal;
    }

    p {
      line-height: 2rem;
    }
  }

  .credits {
    margin: 3rem auto;
  }

  .ps {
    margin-top: 2rem;
    
    p {
      margin-top: 1rem;
    }

    .trans {
      color: rgba(255, 255, 255, 0.05);
    }
  }

  .back {
    margin: 4rem auto;

    a {
      padding: 0.8rem;
      width: 5rem;
      color: white;
      text-decoration: none;
      background-color: grey;

      &:hover {
        background-color: #30EE30;
      }
    }
  }

  .thanks {
    margin: 4rem auto;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}