.Credits {
  padding-top: 2rem;
  align-items: center;
  text-align: center;
  white-space: nowrap;

  img {
    user-select: none;
  }

  h2, h3 {
    margin-top: 1rem;
    &::first-letter {
      color: #55FF55;
    }
  }

  .text {
    margin: 3rem auto;

    p {
      line-height: 2rem;
    }

    a {
      color: #55FF55;
    }
  }
}